doctype html
html(lang="uk")
	//= templ/head.jade
	title
		|Підручник "Історія України. 7 клас
	body		
		//= templ/header.jade
		//= templ/content.jade
		//= templ/footer.jade
		script(src="lib/js/jquery-3.4.0.min.js")
		script(src="lib/js/bootstrap.min.js")
